@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap");

$black-rock: hsl(243, 87%, 12%);
$waikawa-gray: hsl(238, 22%, 44%);
$dodger-blue: hsl(224, 93%, 58%);
$keppel: hsl(170, 45%, 43%);
$selago: hsl(216, 2%, 98%);
$silver: hsl(0, 0%, 75%);
$white: hsl(0, 0%, 100%);

$font-primary: "Open Sans", sans-serif;
$font-secondary: "Raleway", sans-serif;

$px1: 0.0625rem;
$px2: 0.125rem;
$px4: 0.25rem;
$px8: 0.5rem;
$px12: 0.75rem;
$px16: 1rem;
$px20: 1.25rem;
$px24: 1.5rem;
$px28: 1.75rem;
$px32: 2rem;
$px36: 2.25rem;
$px40: 2.5rem;
$px44: 2.75rem;
$px48: 3rem;
$px52: 3.25rem;
$px56: 3.5rem;
$px60: 3.75rem;
$px64: 4rem;
$px68: 4.25rem;
$px72: 4.5rem;
$px76: 4.75rem;
$px80: 5rem;

$font-10px: 0.625rem;
$font-12px: 0.75rem;
$font-14px: 0.875rem;
$font-16px: 1rem;
$font-18px: 1.125rem;
$font-22px: 1.375rem;
$font-26px: 1.625rem;
$font-30px: 1.875rem;
$font-34px: 2.125rem;
$font-38px: 2.375rem;
$font-42px: 2.625rem;
$font-46px: 2.875rem;
$font-50px: 3.125rem;

$transition: 0.2s;
